<ion-content padding class="vertical-center">

    <form [formGroup]="registerForm">

        <!-- Logo -->
        <ion-row class="logo-container">
            <div class="logo"></div>
        </ion-row>

        <ion-row class="form-container">
            <ion-col>
                <ion-list inset>

                    <!-- First Name -->
                    <ion-item class="form-input">
                        <ion-input formControlName="firstName" type="text" placeholder="{{ 'FIELDS.FIRST_NAME' | translate }}"></ion-input>
                    </ion-item>
                    <error-message [submitted]="submitAttempt" [name]="'FIELDS.FIRST_NAME' | translate | lowercase" [control]="registerForm.get('firstName')"></error-message>

                    <!-- Last Name -->
                    <ion-item class="form-input">
                        <ion-input formControlName="lastName" type="text" placeholder="{{ 'FIELDS.LAST_NAME' | translate }}"></ion-input>
                    </ion-item>
                    <error-message [submitted]="submitAttempt" [name]="'FIELDS.LAST_NAME' | translate | lowercase" [control]="registerForm.get('lastName')"></error-message>

                    <!-- UserName -->
                    <ion-item class="form-input">
                        <ion-icon *ngIf="checkingUserName" class="spinner" item-right name="ios-refresh-circle-outline"></ion-icon>
                        <ion-input formControlName="userName" type="text" placeholder="{{ 'FIELDS.USER_NAME' | translate }}"></ion-input>
                    </ion-item>
                    <error-message [submitted]="submitAttempt" [name]="'FIELDS.USER_NAME' | translate | lowercase" [control]="registerForm.get('userName')"></error-message>
                    <div class="success-message" *ngIf="!checkingUserName && registerForm.get('userName').valid">{{ 'VALIDATIONS.VALID_USERNAME' | translate }}</div>

                    <!-- Email -->
                    <ion-item class="form-input">
                        <ion-input formControlName="email" type="text" placeholder="{{ 'FIELDS.EMAIL' | translate }}"></ion-input>
                    </ion-item>
                    <error-message [submitted]="submitAttempt" [name]="'FIELDS.EMAIL' | translate | lowercase" [control]="registerForm.get('email')"></error-message>

                    <!-- Password -->
                    <ion-item class="form-input">
                        <ion-input formControlName="password" type="password" placeholder="{{ 'FIELDS.PASSWORD' | translate }}"></ion-input>
                    </ion-item>
                    <error-message [submitted]="submitAttempt" [name]="'FIELDS.PASSWORD' | translate | lowercase" [control]="registerForm.get('password')"></error-message>
                   
                    <ion-row class="double-btn-container">
                        <ion-col>
                            <button class="cancel-btn" (click)="goBack()" color="danger" ion-button full>{{ 'CANCEL' | translate }}</button>
                        </ion-col>
                        <ion-col>
                            <button class="register-btn" (click)="register()" color="primary" ion-button full>{{ 'REGISTER' | translate }}</button>
                        </ion-col>
                    </ion-row>

                </ion-list>
            </ion-col>
        </ion-row>
    </form>
</ion-content>