<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ 'PAGES.HOME' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list *ngFor="let activity of activities">
        <button ion-item (click)="selectActivity(activity)">
            {{ activity.name }}
        </button>
    </ion-list>

    <table class="ui celled table unstackable" *ngIf="isLoaded">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Start</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let workout of workouts">
                <td>{{ workout.activity.name }}</td>
                <td>{{ workout.startUtc }}</td>
                <td>{{ workout.duration }}</td>
            </tr>
        </tbody>
    </table>

</ion-content>
